.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo .titulo h2 {
    font-size: 5rem;
    font-weight: 700;
    color: #88b10c;
}

.logo .titulo h3 {
    font-size: 1.8rem;
    text-align: center;
    font-weight: 800;
    color: #88b10c;
}

.tabela {
    margin: 3px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
}

.prof {
    font-weight: 800;
    font-size: 1.3rem;
}

.tabela .tabela-conteudo {
    border-collapse: collapse;
    width: 90%;
}

.tabela .tabela-conteudo  .conteudo li {
    text-align: left;
    margin: 1rem 0;
    width: fit-content;
    list-style: disc;
    margin-left: 30%;
}

.tabela .tabela-conteudo .mini {
    padding-top: 10%;
    height: 10vw;
    background-color: rgba(83, 185, 24, 0.291);
    border-top: none;
}

.tabela .tabela-conteudo .mini h3{
    font-weight: 900;
}

.tabela .title {
    margin-bottom: 40px;
    font-size: 2rem;
    font-weight: 700;
}

.tabela .tabela-conteudo thead .cabecalho{
    background-color: #88b10c;
}

.tabela .tabela-conteudo thead tr .c1 {
    width: 8%;
    color: #ffffff;
}

.tabela .tabela-conteudo tbody tr td h3 {
    font-weight: 900;
    font-size: 1.5rem;
    margin: 10px 0;
}

.tabela .tabela-conteudo tbody tr .conteudo{
    font-size: 1.8rem;
    margin: 20px 0;
}

.tabela .tabela-conteudo tbody .coffe {
    background-color: silver;
}

.tabela .tabela-conteudo tbody .almoco {
    background-color: rgb(192, 255, 241);
}

.tabela .tabela-conteudo tbody tr .professor{
    font-weight: 700;
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.tabela .tabela-conteudo tbody tr .mediador{
    font-weight: 700;
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.tabela .tabela-conteudo tbody tr .convidado{
    font-weight: 700;
    font-size: 1.4rem;
    margin: 0 30px;
    text-align: left;
}

.descricao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 5rem;
}

.descricao .descricao-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.descricao .descricao-content .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 20px 0 rgba(127, 127, 127, 0.2);
    padding: 5rem 0;
    margin: 0.5rem 0;
    border-radius: 10px;
    width: 95%;
}

.descricao .descricao-content .content.back{
    background-color: rgba(10, 138, 3, 0.15);
}


.descricao .descricao-content .content .titulo {
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
    width: 90%;
    margin-bottom: 3rem;
    color: #88b10c;
}

.descricao .descricao-content .content .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-size: 2rem;
    width: 90%;
    margin: 3rem 0;
}

.descricao .descricao-content .content .desc .palestrante  {
    margin-top: 2rem;
}

.descricao .descricao-content .content .desc .palestrante span {
    font-weight: 800;
}

.descricao .descricao-content .content .desc .palestrante .name {
    font-weight: 800;
    color: #88b10c;
}

.descricao .descricao-content .content .desc ul li {
    list-style-type: decimal;
}

.descricao .descricao-content .content .desc ul p {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 3rem;
}

.descricao .descricao-content .content .desc ul p .red {
    color: red;
}

@media (max-width: 900px) {

    .tabela {
        margin: 0;
        font-size: 1.2rem;
    }

    .tabela .tabela-conteudo tbody tr td .conteudo {
        font-size: 1.1rem;
    }

    .tabela .tabela-conteudo tbody tr td h3 {
        font-size: 1.1rem;
    }

    .tabela .tabela-conteudo .mini {
        padding-top: 3rem;
        height: 30vw;
    }
    
    .prof {
        font-size: 0.95rem;
    }

    .tabela .tabela-conteudo .mini .conteudo {
        font-size: 1.2rem;
    }

    .tabela .tabela-conteudo .mini .conteudo .prof {
        font-size: 0.5rem;
    }

    .descricao {
        margin: 0 0.5rem;
    }
    
    .descricao .descricao-content .content .titulo {
        font-size: 1.7rem;
        margin: 0;
    }

    .descricao .descricao-content .content h4 {
        margin-top: 2rem;
        font-size: 1.3rem;
    }
    
    
    .descricao .descricao-content .content .desc {
        font-size: 1.3rem;
    }

    
.descricao .descricao-content .content .desc ul p {
    font-size: 1.158rem;
}

}