.tabela {
    height: 100vh;
}

.tabela td {
    text-align: center;
    justify-content: center;
    font-weight: 600;
    color: black;
}


@media(max-width: 900px) {
    .tabela thead th {
        font-size: 1.3rem;
    }
    .tabela td {
        font-size: .8rem;
    }
}