.inscricoes .inscricoes-conteudo {
    display: flex;
    flex-direction: column;
}

.inscricoes .inscricoes-conteudo .cancelamento {
    padding: 100px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 1px 1px 20px 0 rgba(127, 127, 127, 0.2);
}

.inscricoes .inscricoes-conteudo .cancelamento h2 {
    margin-bottom: 50px;
    font-size: 4rem;
    font-weight: 700;
    color: #88b10c;
    text-align: center;
}

.inscricoes .inscricoes-conteudo .cancelamento p {
    margin: 0 100px;
    font-weight: 500;
    text-align: center;
    font-size: 2rem ;
}

.org {
    background-color: #ffffff;
    margin-bottom: 50px; 
    padding: 30px 0;
}

.org .comite-conteudo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.org .comite-conteudo .conteudo h3 {
    font-size: 2.3rem;
    margin-bottom: 5px;
    margin-top: 30px;
    font-weight: 900;
    text-align: center;
    color: #88b10c;
}

.org .comite-conteudo .conteudo ul li {
    text-align: center;
    font-weight: 800;
    margin-top: 10px;
    font-size: 1.4rem;
}
/* ========================================================= */


@media (max-width: 900px) {

    .inscricoes {
        padding: 0;
        margin: 0;
    }
    
    .inscricoes .inscricoes-conteudo .cancelamento h2 {
        font-size: 3.8rem;
    }
    
    .inscricoes .inscricoes-conteudo .cancelamento p {
        width: 90%;
    }

    .org .comite-conteudo {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
}